<p class="mb-1">What's happening?</p>
<form class="w-full flex" method="post" action="<%= blipit_path %>">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input name="blip[content]" class="flex-auto border-2 border-blue-800 mr-2">
  <button class="flex-initial">Send</button>
</form>