<div id="timeline-tabs" class="flex gap-2 px-2">
  <%  tabs.each do |t| %>
    <a href="<%= t[1] %>"
       class="font-bold p-3 flex-auto text-center text-sky-500 <%= "border-b-4 border-sky-500" if current_page?(t[1]) %>">
      <%= t[0] %></a>
  <% end %>
</div>