<div class="grid grid-cols-4">
  <div id="content" class="col-span-3 border-2 border-gray-300">
    <div class="mb-2 p-2">
      <%= render Timeline::BlipFormComponent.new %>
    </div>
    <div class="divide-y divide-gray-200 px-3">
      <%= render Timeline::BlipComponent.with_collection @blips %>
    </div>
  </div>
  <%= render Timeline::SidebarComponent.new user: current_user %>
</div>