<div class="grid grid-cols-4">
  <div class="col-span-3">
    <h1 class="text-lg border-b-4 border-gray-800 mb-2">Following</h1>
    <ul class="flex flex-col gap-1">
      <% @user.followees.each do |x| %>
        <li class="flex-auto text-indigo-700"><a href="<%= profile_path(x) %>"><%= x.username %></a></li>
      <% end %>
    </ul>
  </div>
  <%= render Profile::SidebarComponent.new user: @user %>
</div>