<div class="grid grid-cols-4">
  <div class="col-span-3">
    <div class="flex mb-4 px-3">
      <img src="https://placeholder.pics/svg/50"
           class="flex-initial self-center w-16 h-16 mr-2 rounded-lg">
      <h1  class="text-lg font-bold"><%= @user.username %></h1>
    </div>
    <div id="blips" class="divide-y divide-gray-200 px-3">
      <%= render Profile::BlipComponent.with_collection @blips %>
    </div>
  </div>
  <%= render Profile::SidebarComponent.new user: @user %>
</div>